@import url("https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext");
/* Variables */
/* Global */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #685b44;
  font-family: "Arial", sans-serif;
  color: #7997ac;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  font-size: 22px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
}

.section-title span {
  text-transform: none;
  font-weight: 400;
  color: #b8c8d3;
}

a {
  text-decoration: none;
  color: #7997ac;
}

/* Layout */
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
}

li {
  list-style: none;
}

.sidebar {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}

.posts {
  -webkit-box-flex: 2;
      -ms-flex: 2 0 0px;
          flex: 2 0 0;
  position: relative;
}

.sidebar,
.posts {
  background: #1b1818;
  margin-right: 10px;
  padding: 40px;
  border: 1px solid #7997ac;
  border-radius: 5px;
}

/* Logo */
.logo {
  font-family: "Sacramento", cursive;
  font-weight: 400;
  font-size: 104px;
  line-height: 1;
  text-align: center;
}

/* Lists */
.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list .active {
  font-weight: bold;
}

.list-horizontal li {
  display: inline-block;
}

/* Authors */
.authors {
  margin-bottom: 12px;
}

.authors a {
  display: block;
}

/* Post */
.post {
  position: absolute;
  opacity: 0;
  text-align: justify;
  overflow: hidden;
}

.post.active {
  position: relative;
  -webkit-transition: 3s;
  transition: 3s;
  color: #7997ac;
  opacity: 1;
  text-align: justify;
  z-index: 1;
}

.post-author {
  font-style: italic;
}

.post-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.post-tags p {
  margin: 0 10px 0 0;
}

ul .list li,
.tags li {
  display: inline-block;
}

ul .list li a,
.tags li a {
  display: inline-block;
}

.tag-size-1 {
  font-size: 12px;
}

.tag-size-2 {
  font-size: 15px;
}

.tag-size-3 {
  font-size: 18px;
}

.tag-size-4 {
  font-size: 22px;
}

.tag-size-5 {
  font-size: 24px;
}

/* mediaquery */
@media (max-width: 800px) {
  .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 35% 1fr;
        grid-template-columns: 35% 1fr;
    grid-gap: 1px;
  }
  .sidebar {
    text-align: center;
  }
  .sidebar h2 {
    text-align: center;
    font-size: 16px;
  }
  .posts {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / span 2;
  }
}

@media (max-width: 460px) {
  .posts {
    -webkit-box-flex: 2;
        -ms-flex: 2 0 0px;
            flex: 2 0 0;
    position: static;
  }
  .post {
    padding: 0;
  }
  .post.active {
    position: static;
    padding: 0;
  }
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sidebar {
    text-align: center;
  }
  .sidebar,
  .posts {
    margin: auto;
    width: 95%;
  }
}
/*# sourceMappingURL=style.css.map */