@import url('https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext');

/* Variables */
$color-white: rgb(27, 24, 24);
$color-light: rgb(104, 91, 68);
$color-dark: rgb(121, 151, 172);

$font-logo: 'Sacramento',
cursive;
$font-header: 'Oswald',
sans-serif;
$font-text: 'Arial',
sans-serif;

/* Global */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: $color-light;
  font-family: $font-text;
  color: $color-dark;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  font-size: 22px;
  text-transform: uppercase;
  font-family: $font-header;
  font-weight: 600;

  span {
    text-transform: none;
    font-weight: 400;
    color: lighten($color-dark, 20%);
  }
}

a {
  text-decoration: none;
  color: $color-dark;
}

/* Layout */

.wrapper {
  display: flex;
  margin-left: 10px;
}

li {
  list-style: none;
}

.sidebar {
  flex: 1 0 0;
}

.posts {
  flex: 2 0 0;
  position: relative;
}

.sidebar,
.posts {
  background: $color-white;
  margin-right: 10px;
  padding: 40px;
  border: 1px solid $color-dark;
  border-radius: 5px;
}

/* Logo */

.logo {
  font-family: $font-logo;
  font-weight: 400;
  font-size: 104px;
  line-height: 1;
  text-align: center;
}

/* Lists */

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  .active {
    font-weight: bold;
  }
}

.list-horizontal {
  li {
    display: inline-block;
  }
}

/* Authors */

.authors {

  margin-bottom: 12px;

  a {
    display: block;
  }
}

/* Post */

.post {
  position: absolute;
  opacity: 0;
  text-align: justify;
  overflow: hidden;

  &.active {

    position: relative;
    transition: 3s;
    color: $color-dark;
    opacity: 1;
    text-align: justify;
    z-index: 1;
  }
}

.post-author {
  font-style: italic;
}

.post-tags {
  display: flex;

  p {
    margin: 0 10px 0 0;
  }
}

ul .list,
.tags {
  li {
    display: inline-block;

    a {
      display: inline-block;
    }
  }
}

.tag-size-1 {
  font-size: 12px;
}

.tag-size-2 {
  font-size: 15px;
}

.tag-size-3 {
  font-size: 18px;
}

.tag-size-4 {
  font-size: 22px;
}

.tag-size-5 {
  font-size: 24px;
}

/* mediaquery */
@media (max-width: 800px) {
  .wrapper {
    display: grid;
    grid-template-columns: 35% 1fr;
    grid-gap: 1px
  }

  .sidebar {
    text-align: center;

    h2 {
      text-align: center;

      font-size: 16px;
    }
  }

  .posts {
    grid-column: 2;
    grid-row: 1 / span 2;
  }
}

@media (max-width: 460px) {
  .posts {
    flex: 2 0 0;
    position: static
  }

  .post {
    padding: 0;

    &.active {

      position: static;
      padding: 0;
    }
  }

  .wrapper {
    display: flex;
    flex-direction: column;
  }

  .sidebar {
    text-align: center;
  }

  .sidebar,
  .posts {
    margin: auto;
    width: 95%;
  }
}